:root {
  --primery-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primery-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: rgba(157, 164, 189, 0.6);
  --fourth-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --header-text-color: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  width: 1280px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.header {
  background-color: gray;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  width: 160px;
  height: 40px;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background: transparent;
}

.social_link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--secondary-text-color);
}

.social_link:hover,
.social_link:focus {
  color: var(--accent-color);
}

.pretitle {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.aftertitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

/*----------------- HEADER-------------- */

.header_link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header_link:hover,
.header_link:focus {
  color: var(--accent-color);
}

.header_container {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_list {
  display: flex;
  align-items: center;
}

.header_wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header_item:not(:last-child) {
  margin-right: 40px;
}

.header_logo {
  margin-right: 70px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header_link-tel {
  margin-right: 40px;
}

.header_btn {
  color: var(--header-text-color);
}

/*----------- HERO ---------------*/

.hero {
  background-color: #555555;
}
.hero_list {
  width: 100px;
}

.hero_container {
  display: flex;
}

.hero_right {
  flex-grow: 1;
  background-color: var(--secondary-title-color);
  padding-top: 270px;
  padding-left: 90px;
  padding-bottom: 200px;
}

.hero_pretitle {
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.hero_title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;

  color: var(--primery-title-color);
}

.hero_aftertitle {
  color: var(--fourth-text-color);
  max-width: 400px;
}

/* ------ABOUT -----*/
.about {
  padding-top: 165px;
  padding-bottom: 70px;
}

.container_about {
  display: flex;
}

.about_pretitle {
  color: var(--secondary-title-color);
  margin-bottom: 25px;
}

.about_title {
  color: var(--secondary-title-color);
  margin-bottom: 15px;
}

.about_aftertitle {
  color: var(--primery-text-color);
  margin-bottom: 20px;
}

.about_list {
  display: flex;
}

.about_right {
  padding-left: 60px;
  padding-right: 60px;
}

.about_item:not(:last-child) {
  margin-right: 30px;
}

.about_text {
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.about_btn {
  color: #303030;
}

/* ---SERVICES ---*/
.services {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.services_pretitle {
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.services_title {
  color: var(--primery-title-color);
  margin-bottom: 46px;
}

.services_wrapper {
  display: flex;
  padding: 30px 40px;
}

.services_list {
  width: 50%;
  padding: 30px 40px;
  border: 1px solid var(--third-text-color);
}

.services_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  color: var(--fourth-text-color);
}

.services_item:last-child {
  margin-bottom: 0;
}

.services_btn {
  color: #ffffff;
}

/* ----REASONS -----*/

.reasons_container {
  display: flex;
}

.reasons_list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.reasons_item {
  width: 170px;
  height: 133px;
  border: 1px solid black;
  padding: 20px 24px;
  text-align: center;
}

.reasons_item-dif {
  padding: 20px;
  letter-spacing: 0em;
}

.reasons_count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;

  color: var(--secondary-text-color);
}

.reasons_item:nth-child(odd) {
  margin-right: 30px;
}

.reasons_item:nth-child(even) {
  margin-top: 30px;
}

.reasons_item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color);
}

.reasons_pretitle {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.reasons_title {
  color: var(--secondary-title-color);
  margin-bottom: 20px;
}

.reasons_aftertitle {
  color: var(--primary-text-color);
}

.reasons_left {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-shrink: 0;
}

/* ------MASTERS -------*/
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #9da4bd;
}

.masters_pretitle {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.masters_title {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}

.masters_list {
  display: flex;
  margin-right: -30px;
  margin-top: -30px;
}

.masters_item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-90px) / 3);
}

.masters_item-wrapper {
  padding-top: 30px;
}

.masters_name {
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;

  text-align: center;

  color: var(--secondary-text-color);
}

.masters_text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;

  text-align: center;

  color: #ff6c00;
}

/* -----GALLERY----- */
.gallery {
  padding-bottom: 130px;
  padding-top: 130px;
}

.gallary_pretitle {
  color: var(--secondary-text-color);
  margin-bottom: 44px;
}

.gallary_list {
  display: flex;
  margin-right: -30px;
  margin-top: -30px;
}

.gallary_item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-120px) / 4);
}

/*----- ONLINE----- */
.wrapper {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #303030;
}

.online {
  flex-grow: 1;
  background-color: #303030;
}

.online_title {
  color: var(--primery-title-color);
}

/* -----CONTACT----- */

.contact_title {
  margin-bottom: 40px;
  color: var(--primery-title-color);
}

.contact {
  flex-grow: 1;
  background-color: #555555;
  padding-left: 100px;
  padding-right: 255px;
}

.contact_list {
  max-width: 270px;
  margin-bottom: 70px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;

  color: var(--fourth-text-color);
}

.contact_worktime {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.contact_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: var(--fourth-text-color);
}

/* ----FOOTER------ */
.footer {
  background: #f7f7f7;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 57px;
  padding-bottom: 55px;
}

.footer_copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--fourth-text-color);
}

.footer_link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--secondary-text-color);
}

.footer_list {
  display: flex;
}

.footer_item:not(:last-child) {
  margin-right: 40px;
}
